/* REMOVE THIS FILE BEFORE SUBMITTING AND PLACE INSIDE STYLES OBJECT
OR
ADD A LINK TO THIS FILE WITH JS
*/
section {
  background-color: beige;
  border-radius: 10px;
  width: 50%;
  min-height: 200px;
  margin: 2em auto;
  padding: 8px;
  box-shadow: -4px 4px 12px 4px #00000055;
}

.headers {
  font-weight: bold;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.member-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.delete {
  color: red;
}
