h1 {
  padding: 1.5em;
  margin: 0 auto;
  text-align: center;
  color: #0e7757;
  font-size: 2em;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4px;
}

button {
  background-color: #0e7757;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  padding: 8px;
  text-transform: capitalize;
  width: 72px;
}

label {
  font-size: 1.2rem;
  position: relative;
}

input {
  max-width: 80px;
  position: relative;
}

select {
  max-width: 120px;
  position: relative;
}

section {
  background-color: beige;
  border-radius: 10px;
  width: 50%;
  min-height: 200px;
  margin: 2em auto;
  padding: 8px;
  box-shadow: -4px 4px 12px 4px #00000055;
}

.headers {
  font-weight: bold;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.flex > span {
  display: flex;
  flex: 0 0 20%;
  justify-content: center;
}

.member-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.delete {
  color: red;
}

.tooltip {
  position: absolute;
  width: 120px;
  top: 30px;
  left: 64%;
  transform: translate(-50%, 0);
  padding: 4px 8px;
  color: red;
  background-color: #eeeeee;
  border-radius: 8px;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  text-align: center;
}
